



body{
	margin-left: 200px;
	margin-right: 200px;
	font-family: 'Roboto', sans-serif;
	font-family: 'Montserrat', sans-serif;
}
.container-1{
	display: flex;
	flex-wrap: wrap;

}
h1{
	font-family: 'Montserrat', sans-serif;
	margin: 0px;
	letter-spacing: 1px;
}
h3{
	margin:0px;
}
h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}		
h6{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin: 0px;
	margin-left: 15px;
	margin-top: 15px;
}
	
.section_1{
	width:25%;
	height: 800px;
	background-color: white;
	border: 1px silver solid;
	border-bottom: none;
}
.section_2{
	background-color: white;
	width: 60%;
	height: 800px;
	border: 1px solid black;
	border-bottom: none;
}
.section_3{
	background-color: white;
	width: 25%;
	height: 600px;
	
	border: 1px silver solid;
	border-top: none;
	border-bottom: none;
} 
.section_4{
    background-color: white;
	width: 60%;
	height: 600px;
		border: 1px silver solid;
	 	border-top: none;
}
.my_photo{
	width: 100%;
	height: 320px;
	background-size: 100% 340px;
	background-image: url(img/my_photo.png);
}
.section_1 h1,.section_1 h3{
	margin-left: 15px;
	margin-top: 15px;
}
.section_1 h3,.section_3. h3{
	margin-top: 10px;
	font-weight: 500;
	padding-bottom: 20px;
	

}
/*.horizontal_line{
	width: 90%;
	height: 1px;
	background-color: rgba(0,0,0,0.1);
	margin-left: 3.5%;
	margin-top: 20px;
} */

.section_1 h2,.section_3 h2{
	margin: 0px;
	margin-top: 35px;
	margin-left: 15px;
	color: silver;
}
.horizontal_line_h2{
	width: 96.5%;
	height: 1px;
	background-color: silver;
	margin: 0px;
	margin-left: 3.5%;
	margin-top: 5px;
}
.section_1 span,.section_3 span,.section_3 a{
	font-weight: 300;
	letter-spacing: 1px;
	font-size: 16px;
	color: black;


}

#s1_h6_2{
	padding-bottom: 25px;
}

.section_3 h2{
	margin-top: 10px;
}
.section_2 h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 26px;
	font-weight: 700;
	margin-top: 60px;
	margin-left: 40px;

}
.horizontal_line_h3{
	width: 92.5%;
	height: 3px;
	background-color: black;
	margin: 0px;
	margin-left: 4%;
	margin-top: 10px;
}
.section_2 h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	letter-spacing: 1px;
	margin: 0px;
	margin-top: 30px;
	margin-left: 40px;
}
.section_2 h3{

	font-weight: 400;
	letter-spacing: 2px;
	margin-left: 40px;
	margin-top: 10px;
	font-size: 16px;
}
.progress__bar{
	width: 70%;
	height: 3px;
	background-color: white;
	border: solid 1px black;
	border-radius:80px;
	margin-left: 4.5%;
	margin-top: 10px;
}
.full__bar{
	width: 95%;
	height: 3px;
	background-color: black;
	text-align: center;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 1px;
	
}
#third__language{
	width: 55%;
	height: 3px;
	background-color: black;
	text-align: center;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 1px;
}
#first__hl{
	margin-bottom: 50px;
}
.section_2 h4{
	margin: 0px;
	margin-left: 40px;
}
.section_2 span{
	font-weight: 400;

}
.section_2 p {
	margin:0px;
	margin-left: 40px;
	margin-top: 10px;
	padding-bottom: 10px;
}
.section_4 .progress__bar{
	width: 55%;
	height: 3px;
	background-color: white;
	border: solid 1px black;
	border-radius:80px;
	margin-left: 9%;
	margin-top: 10px;
	margin-bottom: 30px;
}
.section_4 .full__bar{
	font-size: 12px;

}
#s4_html{
	width: 98%;
}
.section_4 p{
	margin:0px;
	margin-left: 40px;

	background-color: rgba(0,0,0,0.05);
	width: 55%;
	text-align: center;
	font-weight: 600;


}
#s4_css{
	width: 95%;
}
.section_4 span{
	font-weight: 400;

}
#s4_javascript{
	width: 70%;
}
#s4_msoffice{
	width: 90%;
}
.s4__container1{
	display: flex;
	justify-content: space-between;	
	flex-wrap: wrap;
	
}
.div1{
	width: 50%;
}
.s4__container2{
		display: flex;
	justify-content: space-between;	
}
#s4_acces{
	width: 70%;
}
#s4_assemly{
	width: 90%;
}
#s4_bash{
	width: 70%;
}
#s4_ps{
	width: 65%;
}

.math{
	font-size: 14px;

}
#s4_math{
	width: 80%;
}
#s4_bs4{
	width: 85%;
}
#s4_csharp{
	width: 65%;
}